<section class="forum-section">
    <h2>Forums</h2>
    <div class="forum-list">
        <div class="forum-category">
            <h3>Academic Discussions</h3>
            <ul>
                <li>
                    <a href="#" class="forum-link">General Discussion</a>
                    <p class="forum-description">Chat about anything related to SCSU</p>
                </li>
                <li>
                    <a href="#" class="forum-title">Course Registration</a>
                    <p class="forum-description">Discuss class registration and scheduling</p>
                </li>
                <li>
                    <a href="#" class="forum-title">Study Groups</a>
                    <p class="forum-description">Find and join study groups</p>
                </li>
            </ul>
        </div>
    </div>
</section>